@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100;800&display=swap');

/*GENERAL STYLING*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*keep the entire body fixed with box sized*/
}

.main-container {
    width: 100%;
    background-image: url(images/metaverse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

/*HEADER SECTION*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top:0;
}

header h1 {
    color: white;
    font-family: 'Faster One';
    font-size: 4rem;
    padding-left: 2.25rem;
    letter-spacing: 3px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    transition: 0.4s ease-in-out;
    font-weight: 700;
}

li a:hover {
    text-decoration: none;
    opacity: 0.7;
    
}

li a:active {
    text-decoration: none;
}

li a:visited {
    text-decoration: none;
}

.search {
    display: flex;
    width: 300px;
}

.search input {
    height: 30px;
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}

.search input:focus {
   border: 2px solid orange;
}

.btn-search {
    border: none;
    height: 30px;
    width: 20%;
    line-height: 20px;
    font-size: 0.7rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    border-left: 1px solid gray;
}

.btn-search:focus {
    border: 2px solid orange;
}

/*MAIN SECTION*/

main {
    width: 100%;
    display: flex;
    height: auto;
}

.left-sec {
    width: 55%;
    margin-top: 70px;
    padding: 1.5rem;
    color: white;
    font-family: 'Sofia Sans Condensed';
}

.left-sec h1 {
    font-size: 2.5rem;
}

.left-sec h1 span {
    color: rgb(65, 238, 65);
    font-size: 6.25rem;
    font-weight: 800;
}

.left-sec p {
    font-size: 1.6rem;
    margin-top: 15px;
}

.left-sec a {
    display: block;
    text-decoration: none;
    width: 9rem;
    height: 3rem;
    background-color: rgb(65, 238, 65);
    box-shadow: #121FCF 3px 3px 0px 1px;
    color: black;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
    transition: all 0.7s;
    text-align: center;
    padding: 1rem 1rem;
    margin-top: 20px;
}

.left-sec a:hover {
    background-color: #121FCF;
    box-shadow: rgb(65, 238, 65) 3px 3px 0px 1px;
    color: white;
    transition: all 1.4s;
}

.right-sec {
    width: 45%;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.displayTableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.authBlock {
    margin: 85px auto;
    max-width: 400px;
    background: white;
    padding: 30px 40px 10px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
}

.authBlock h3 {
    text-align: center;
    font-size: 22px;
    margin: 0 0 20px;
    font-family: 'Sofia Sans Condensed';
    letter-spacing: 2px;
}
  
.formGroup {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.formControl {
    width: 100%;
    display: block;
    padding: 15px 15px 14px;
    border: 2px solid #e7e7e7;
    outline: none;
    font-size: 15px;
    color: #444444;
    background: #fcfcfc;
}
  
.formControl:focus {
    border: 2px solid #d3d3d6;
}
  
input::-webkit-input-placeholder {
    color: #bbbbbb;
}
  
input::-moz-placeholder {
    color: #bbbbbb;
}
  
input:-ms-input-placeholder {
    color: #bbbbbb;
}
  
input:-moz-placeholder {
    color: #bbbbbb;
}

.btn {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    background: #f96ea8;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
  
.btn:hover {
    opacity: 0.88;
}

.googleBtn {
    background: #4dd5fe;
}

.or {
    text-align: center;
    display: block;
    color: #a0a0a0;
    background: white;
    position: relative;
    margin: 5px 0 0px;
}

.orInner {
    background: white;
    display: inline-block;
    z-index: 4;
    position: relative;
    padding: 0 12px;
}
  
.or:before {
    position: absolute;
    content: "";
    left: 0;
    top: 11px;
    width: 100%;
    height: 1px;
    background: #e2e2e2;
}

.forgotPassword {
    text-align: center;
    margin: -12px 0 15px 0;
    float: left;
    width: 100%;
}
  
.forgotPassword span {
    color: #4dd5fe;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    padding-top: 20px;
}

.redirectToLogin {
    padding: 15px 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: black;
    font-family: 'Sofia Sans Condensed';
}
  
.redirectToLogin .redirect {
    cursor: pointer;
    color:blue;
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
}

.redirectToLogin .redirect:hover {
    color:#f96ea8;
}

/*Responsive design methods*/

@media only screen  and (max-width: 1100px) {
    .main-container {
        height: 175vh;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 10px;
    }

    .header-right {
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .search {
        width: 100%;
    }

    .search button {
        width: 30%;
    }

    main {
        flex-direction: column;
    }

    .left-sec {
        margin-top: 0px;
        width: 100%;
        background-color: rgba(171, 170, 170, 0.734);
    }

    .left-sec h1 {
        font-size: 2.3rem;
    }
    
    .left-sec h1 span {
        font-size: 5.25rem;
    }
    
    .left-sec p {
        font-size: 1.3rem;
        font-weight: 600;
        color: black;
    }

    .right-sec {
        width: 100%;
    }
}

@media only screen  and (max-width: 800px) {
    .main-container {
        height: 185vh;
    }

    .header-right {
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }

    .left-sec h1 {
        font-size: 2.1rem;
    }
    
    .left-sec h1 span {
        font-size: 4.5rem;
    }
    
    .left-sec p {
        font-size: 1.2rem;
    }
}

@media only screen  and (max-width: 600px) {
    .left-sec h1 {
        font-size: 1.8rem;
    }
    
    .left-sec h1 span {
        font-size: 4rem;
    }
    
    .left-sec p {
        font-size: 1.1rem;
    }
}

@media only screen  and (max-width: 500px) {
    .main-container {
        height: 195vh;
    }

    ul {
        gap: 1rem;
    }

    .search {
        width: 150%;
    }
}

@media only screen  and (max-width: 400px) {
    .main-container {
        height: 205vh;
    }

    header h1 {
        font-size: 3rem;
        padding-left: 1.5rem;
    }

    a {
        font-size: 13px;
    }

    .right-sec {
        padding: 10px;
    }
}

@media only screen  and (max-width: 300px) {
    header {
        gap: 10px;
    }

    header h1 {
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    a {
        font-size: 10px;
    }

    .search {
        width: 180%;
    }

    .left-sec h1 {
        font-size: 1.8rem;
    }
    
    .left-sec h1 span {
        font-size: 3rem;
    }
    
    .left-sec p {
        font-size: 1rem;
    }

    .googleBtn {
        font-size: 0.8rem;
    }

    .redirectToLogin .redirect {
        font-size: 11px;
    }
}