@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;700&display=swap');

/*GENERAL STYLING*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*keep the entire body fixed with box sized*/
}

.main-container {
    width: 100%;
    background-image: url(images/metaverse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

/*HEADER SECTION*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top:0;
}

header h1 {
    color: white;
    font-family: 'Faster One';
    font-size: 4rem;
    padding-left: 2.25rem;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    transition: 0.4s ease-in-out;
    font-weight: 700;
}

a:hover {
    text-decoration: none;
    opacity: 0.7;
    
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.search {
    display: flex;
    width: 300px;
}

.search input {
    height: 30px;
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}

.search input:focus {
   border: 2px solid orange;
    
}

.search button {
    border: none;
    height: 30px;
    width: 20%;
    line-height: 20px;
    font-size: 0.7rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    border-left: 1px solid gray;
}

.search button:focus {
    border: 2px solid orange;
}

/*Responsive design methods*/

@media only screen  and (max-width: 1100px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 10px;
    }

    .header-right {
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .search {
        width: 100%;
    }

    .search button {
        width: 30%;
    }
}

@media only screen  and (max-width: 800px) {
    .header-right {
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }
}

@media only screen  and (max-width: 500px) {
    ul {
        gap: 1rem;
    }

    .search {
        width: 150%;
    }
}

@media only screen  and (max-width: 400px) {
    header h1 {
        font-size: 3rem;
        padding-left: 1.5rem;
    }

    a {
        font-size: 13px;
    }
}

@media only screen  and (max-width: 300px) {
    header {
        gap: 10px;
    }

    header h1 {
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    a {
        font-size: 10px;
    }

    .search {
        width: 180%;
    }
}